body{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #E5E5E5;
}

.banner{
    object-fit: cover; 
    width: 100%; 
    height:700px;
    padding-top: 0px;
}

.bannerselector{
    width:auto; 
    height:700px; 
    margin:0px; 
    padding:0;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3em;
    margin-top: 1rem;
}

#Berni:hover,#Taylor:hover,#Ibarra:hover{
    transform: scale(1.3);
}

#Berni,#Taylor,#Ibarra{
    font-size: 1.5em;
}

.reciente {
    font-family: Arial, Helvetica, sans-serif;
    /* display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto; */
    height: auto;
    text-align: center;
    justify-content: space-between;
    margin: .5rem;
    padding: 0px;
    border: 0px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 550px;
    align-self: center;
}

img {
    width: 600px;
    height: 500px;
    margin: 0px;
}

/* p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 15px;
} */

.news-link {
    text-decoration: none;
    color: black;
    position: relative;
    font-weight: bolder;
}

.news-link :hover {
    transform: scale(1.2);
}